# .env.example
DATABASE_URL="postgresql://titanbay:titanbay@localhost:5432/titanbay_private_markets"
TEST_DATABASE_URL="postgresql://titanbay:titanbay@localhost:5432/titanbay_private_markets_test"
PORT=3000