node_modules
dist
.env
.env.test
coverage
.DS_Store

# Prevent accidental in-place TypeScript build output
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map

# Prisma / local artifacts
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/generated/prisma
